[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
essentia = "*"
jack-client = "*"
opencv-python = "*"
torchvision-nightly = "*"
torch-nightly = "*"
pytorch-ignite = {editable = true,path = "/home/kureta/Documents/other_repos/ignite"}
ipykernel = "*"
ipywidgets = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
