[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
essentia = "*"
jack-client = "*"
opencv-python = "*"
torchvision = {editable = true,path = "/home/kureta/Documents/other_repos/vision"}
torch = {file = "/home/kureta/Documents/other_repos/pytorch/dist/torch-1.1.0a0+47c0a49-cp37-cp37m-linux_x86_64.whl"}
pytorch-ignite = {editable = true,path = "/home/kureta/Documents/other_repos/ignite"}
ipykernel = "*"
ipywidgets = "*"
ffmpeg = "*"
scikit-video = "*"
h5py = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
