audioread==2.1.8
boto3==1.12.38
botocore==1.15.38
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cupy==7.3.0
cycler==0.10.0
Cython==0.29.16
decorator==4.4.2
docutils==0.15.2
fastrlock==0.4
glumpy==1.1.0
idna==2.9
JACK-Client==0.5.2
jmespath==0.9.5
joblib==0.14.1
kiwisolver==1.2.0
librosa==0.7.2
llvmlite==0.31.0
matplotlib==3.2.1
nltk==3.4.5
numba==0.48.0
numpy==1.18.2
oscpy==0.5.0
Pillow==7.1.1
pycparser==2.20
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
python-osc==1.7.4
pytorch-pretrained-biggan==0.1.1
requests==2.23.0
resampy==0.2.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
torch==1.4.0
torchvision==0.5.0
tqdm==4.45.0
triangle==20200404
urllib3==1.25.8
