oscpy
scipy
torch
torchvision
librosa
numpy
python-osc
jack-client
pytorch_pretrained_biggan
nltk
matplotlib
cupy
PyOpenGL
PyOpenGl_accelerate
Cython
glumpy
./pycuda-2019.1.2-cp37-cp37m-linux_x86_64.whl
